.login_page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    background-color: aliceblue;
    padding: 50px;

}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 16px;
}
.form-button{
    margin:16px;
    padding:6px;
    border-radius: 10px;
    width: 60%;
}

.form-button-anchor{
    border: none;
    background: none ;
    color: #6f4596;

}