<div class="sidebar">
    <div style="display: flex;">
        <img src="../assets/logo_bg.png" alt="logo" height="35px" width="35px"/>
        <div style="align-items: center;display: flex;flex-direction: column;">
            <div style="color: black;font-weight: 600;font-size: 14px;">Tickets</div>
            <div style="font-size: 12px;">platform</div>
        </div>
    </div>
    <h4>Categories</h4>
    <div>sidebar div</div>
    <div>sidebar div</div>
    <div>sidebar div</div>
    <h4>Graphs</h4>
    <div>sidebar div</div>
    <div>sidebar div</div>
    <div>sidebar div</div>
    <div>sidebar div</div>
    <div>sidebar div</div>
    <div>sidebar div</div>
</div>
